body {
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    font-family: "Raleway", sans-serif;    
  }
  
  .barra{
    background-color: #00294B;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 0;
  }
  
  .menu li {
    margin: 0 20px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .menu a:hover {
    color: #9a9da5; 
  }

  .inicio {
    padding: 150px 20px 100px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
  }
  
  .presentacion {
    display: flex;
    align-items: center;
    max-width: 1000px;
    gap: 40px;
  }
  
  .foto-perfil {
    width: 250px;
    height: 320px;
    border-radius: 130px;

  }
  
  .texto-inicio h2 {
    margin: 0;
    font-size: 20px;
    color: #000000;
  }

  h1 {
    font-family: 'Imperial Script', cursive;
  }


  .texto-inicio h1 {
    margin: 5px 0;
    font-size: 60px;
    font-family: "Imperial Script", cursive;
  }
  
  
  .texto-inicio p {
    font-size: 18px;
    max-width: 500px;
    color: #000000;
  }
  
  

  .enfoque {
    padding: 100px 20px;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  .titulo-enfoque {
    font-size: 32px;
    margin-bottom: 60px;
  }
  
  .columnas-enfoque {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 60px;
    flex-wrap: wrap;
  }
  
  .columna {
    width: 250px;
    font-size: 18px;
    color: #333;
  }
  
  .logos-adobe {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .logos-adobe img {
    width: 60px;
    transition: transform 0.3s ease;
  }
  
  .logos-adobe img:hover {
    transform: scale(1.2);
  }

  .proyectos {
    padding: 100px 20px;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  .titulo-proyectos {
    font-size: 32px;
    margin-bottom: 60px;
  }
  
  .mis-proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  .tarjeta-proyectos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 400px;
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    transition: all 0.3s ease;
  }
  
  .tarjeta-proyectos:hover {
    background-color: #c4c1c1;
    transform: scale(1.05);
  }

  .contacto {
    padding: 100px 20px;
    background-color: #fff;
    text-align: center;
    background-color: #f2f2f2;
  }
  
  .titulo-contacto {
    font-size: 32px;
    margin-bottom: 40px;
  }
  
  .formulario-falso {
    max-width: 500px;
    margin: 0 auto 50px auto;
    text-align: left;
  }
  
  .campo {
    margin-bottom: 20px;
  }
  
  .etiqueta {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .campo-falso {
    width: 100%;
    height: 40px;
    background-color: #c4c1c1;
    border-radius: 8px;
  }
  
  .campo-mensaje {
    height: 100px;
  }
  
  .boton-enviar {
    margin-top: 20px;
    background-color: #c4c1c1;
    color: white;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    cursor: default;
    user-select: none;
  }
  .boton-enviar:hover {
    background-color: #444;
  }
  
  .redes-contacto {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .redes-contacto img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
  }
  
  .redes-contacto img:hover {
    transform: scale(1.2);
  }

.volver-inicio {
  text-align: center;
  margin-top: 40px;
}

.volver-inicio a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}



